name: Slack Webhook Test

on:
  push:
    branches: [ "main" ]

jobs:
  MsgTest:
    runs-on: ubuntu-latest
    outputs: 
      color: ${{ steps.echo.outputs.colors }}
    
    steps:
      - uses: actions/checkout@v3
      - name: echo
        run: |
          echo "colors=echo \#ff3333" >> $GITHUB_OUTPUT
          echo Failure
        
  SlackSender:
    runs-on: ubuntu-latest
    needs: MsgTest
    
    steps:    
      - name: slack send
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_TITLE: Sender
          MSG_MINIMAL: true
          SLACK_COLOR: ${{ needs.MsgTest.outputs.colors }}
          SLACK_MESSAGE: ${{ steps.console.outputs.stdout }}
          SLACK_WEBHOOK: ${{ secrets.CERT_WEBHOOK_URL }}

